:root {
  --header-active-black: #1E1F36;
  --text-black: #787887;
  --header-inactive-black: #4B4C5F;
  --hover-orange: #F47B56;
  
  --border-bottom: #E8E8EA;

  --ff-primary: 'Kumbh Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  margin: 0;
}

.container {
  min-height: 100vh;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion_container {
  max-width: 90%;
  margin-top: 110px;
  background-color: white;
  position: relative;
  border-radius: 25px;
}

.image_itself {
  /* border: 1px solid black; */
  background-image: url('./images/illustration-woman-online-mobile.svg');
  width: 270px;
  height: 182px;
  position: absolute;
  left: 47%;
  top: -110px;
  transform: translateX(-50%)
}

.image_itself::after {
  content: url('./images/bg-pattern-mobile.svg');
  position: absolute;
  bottom: -32px;
  left: 25px;
}

.accordion_wrapper {
  padding: 132px 24px 48px;
}

.accordion_wrapper h2 {
  text-align: center;
  color: var(--header-active-black);
  font-size: 32px;
  font-weight: 700;
  line-height: 32.19px;
  margin-top: 0;
  margin-bottom: 38px;
}

.accordion_content {
  border-bottom: .5px solid var(--border-bottom);
  /* width: 355px; */
  transition: .25s all ease;
}

.accordion_content .accordion_header {
  display: flex;
  justify-content: space-between;
}

.accordion_content .accordion_header h4 {
  color: var(--header-inactive-black);
  font-weight: 400;
  transition: .2s;
}

.accordion_content .accordion_header:hover h4,
.accordion_content .accordion_header:hover img {
  color: var(--hover-orange);
  cursor: pointer;
}


.accordion_content .accordion_header img {
  align-self: center;
}

.accordion_content .accordion_text {
  height: 0;
  overflow: hidden;
  transition: .3s;
}

.accordion_content .accordion_text p {
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--header-inactive-black);
}

/********* ACTIVE STATE **********/
.accordion_content.active .accordion_header h4{
  font-weight: 700;
}

.accordion_content.active .accordion_header img {
  transform: rotate(180deg);
}

/********** RESPONSIVE **********/
@media (min-width: 992px) {
  .accordion_container {
    margin: 0;
    max-width: 920px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
  }

  .accordion_container::after {
    content: url('./images/illustration-box-desktop.svg');
    position: absolute;
    left: -94px;
    top: 58%;
    transform: translateY(-50%);
  }

  .image_container {
    height: 621px;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  .image_container.height {
    height: 621px;
  }

  .image_container::after {
    content: url('/images/bg-pattern-desktop.svg');
    position: absolute;
    top: -250px;
    left: -580px;
    z-index: -10;
  }

  .image_itself {
    background-image: url('./images/illustration-woman-online-desktop.svg');
    position: relative;
    top: 18%;
    left: 32%;
    width: 472px;
    height: 359px;
  }

  .accordion_wrapper {
    flex-basis: 50%;
    padding: 50px;
  }

  .accordion_wrapper h2 {
    text-align: left;
  }
}

